extends layout

block content
    
    form.container(style="flex-direction: column; gap:20px;" action=`/expense/edit/${expense._id}`, method='POST')
        h3="Name:"
        input.inpTxt(type="text" name="name" value=expense.name required)
        h3="Amount:"
        span(style="display:flex; gap:10px")
            label(for="amount")="$"
            input.inpTxt(style="width:3vw" value=expense.amount type="number" name="amount" min="0" step=".01")
        h3="Type:"
        select(name="type")
            option(value="income" selected=(expense.type === "income" ? "true" : null))='Income'
            option(value="expenditure" selected=(expense.type === "expenditure" ? "true" : null))='Expenditure'
        h3="Categroy:"
        input.inpTxt(type="text" name="category" value=expense.category)

        input.btn(type="submit" value="Submit")