extends layout

block content
    div.container
        form(action='/expense/list' method='post' class="Search_Box")
            label(for="fromDate") From Date 
            input(type="month" name="fromDate" value=fromDate)
            label(for="toDate") To Date
            input(type="month" name="toDate" value=toDate)
            label(for="category") Category
            select(name="category")
                option(value="") Select an option
                each cat_ in user_categories
                    option(value=cat_._id selected=(cat_._id == category ? "true" : null))=cat_.name 
            label(for="transactionType") Transaction Type
            select(name="transactionType")
                option(value="") Select an option
                option(value="income" selected=(transactionType === 'income')) Income
                option(value="expenditure" selected=(transactionType === 'expenditure')) Expenditure
            br
            input(type="submit" value="Search")

        if errorMessage
        label(style="color: #aa5545") #{errorMessage}
        if successMessage 
        label(style="color: #24aa42") #{successMessage}          
        table.expenseList
            th="Remove"
            th="Edit"
            th="Amount"
            th="Name"
            th="Type"
            th="Category"
            th="Date"
            tr  
            each expense in expense_list
                td
                    a(href=`/expense/delete/${expense._id}`)
                        span(style="font-size:1vw") &#x1F5D1
                    
                td
                    a(href=`/expense/edit/${expense._id}`)
                        span(style="font-size:2vw; color: #aaaa25;") &#9998;
                if expense.type === "income"
                        td(style="color: #24aa42" : "color: #24aa42")=`\$${expense.amount}`
                else 
                        td(style="color: #aa2442" : "color: #24aa42")=`\$${expense.amount}`    
                                
                td=expense.name 
                td=expense.type
                td=expense.category.name 
                td=expense.date.toLocaleString("en-US")
                tr
            tfoot 
                tr 
                    td=total_income
                    td Total Income 
                    td=total_expenditure
                    td Total expenditure
        div.buttons
            a(href="/category/list")
                input.btn(style="cursor:pointer; height: 5vh; width: 10vw; text-align:center; background-color: orange" type="button" value="Categories")
            a(href="/expense/add")
                input.btn(style="cursor:pointer; height: 5vh; width: 10vw; text-align:center; background-color: green" type="button" value="Add Expense")
