extends layout

block content

    table.noteList
        th="Remove"
        th="Edit"
        th="Amount"
        th="Name"
        th="Category"
        th="Date"
        tr  
        each expense in expense_list
            td
                a(href=`/expenses/delete/${expense._id}`)="Remove"
            td
                a(href=`/expenses/edit/${expense._id}`)="Edit"
            td=`\$${expense.amount}`
            td=expense.name 
            td=expense.category
            td=expense.date
            tr
